{% extends "base.html" %}
<!-- This template extends the "base.html" template. -->

{% block title %}
Change Password
<!-- Sets the page title to "Change Password". -->
{% endblock %}

{% block content %}
<!-- Main content block for the page. -->
    <form method="POST">
    <!-- HTML form for changing the password. -->
        <h3 align="center">Change Password</h3>
        <!-- Heading for changing the password. -->
        <div class="form-group">
            <label for="current_password">Current Password</label>
            <input
                type="password"
                id="current_password"
                name="current_password"
                class="form-control"
                placeholder="Enter Current Password"
            />
            <!-- Input field for the current password. -->
            <label for="new_password">New Password</label>
            <input
                type="password"
                id="new_password"
                name="new_password"
                class="form-control"
                placeholder="Enter New Password"
            />
            <!-- Input field for the new password. -->
            <label for "confirm_password">Confirm New Password</label>
            <input
                type="password"
                id="confirm_password"
                name="confirm_password"
                class="form-control"
                placeholder="Confirm New Password"
            />
            <!-- Input field to confirm the new password. -->
            <br />
            <div align="center">
                <button class="btn btn-primary" type="submit">Change Password</button>
            </div>
        </div>
    </form>
{% endblock %}
<!-- End of the main content block. -->
