{% extends "base.html" %}  <!-- Extends the "base.html" template. -->

{% block title %}
  Login  <!-- Sets the page title to "Login". -->
{% endblock %}

{% block content %}  <!-- Main content block for the page. -->
  <form method="POST">  <!-- HTML form for user login. -->
    <h3 align="center">Login</h3>  <!-- Heading for the login form. -->
    <div class="form-group">
      <label for="email">Email Address</label>  <!-- Label for the email input field. -->
      <input
        type="text"
        id="email"
        name="email"
        class="form-control"
        placeholder="Enter Email"
      />
      <label for="password">Password</label>  <!-- Label for the password input field. -->
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Enter Password"
      />
      <br />
      <div align="center">
        <button class="btn btn-primary" type="submit">Login</button>  <!-- Login button. -->
      </div>
    </div>
  </form>
{% endblock %}
<!-- End of the main content block. -->
